@model  Vidly.ViewModels.FeaturedMovieViewModel
@{
    ViewBag.Title = "Featured";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@{ 
    var className = Model.Customers.Count > 5 ? "popular" : null;
}

<h2 class="@className" >@Model.Movie.Name</h2>
@if (Model.Customers.Count == 0)
{
    <text>No rents yet</text>
}
else
{
    <ul>
        @foreach (var customer in Model.Customers)
        {
            <li>@(customer.Name)</li>
        }
    </ul>
}

@*<h2>@(ViewData["Movie"] as Vidly.Models.Movie).Name</h2>
    <h2>@ViewBag.Movie.Name</h2>*@

